.div{
    animation:clignote 40s infinite linear;
    background-color:rgb(251, 255, 19);
    font-size:1cm;
    margin-top: 30px;
    text-align: center;
}
.margintop{
    margin-top: 30px;
}
.block {
    animation:backcolor 30s infinite;
    background-color: rgb(18, 158, 13) ;
    display: inline-block;
    border: 3.5px solid rgb(0, 0, 0);
    width: 100px ;
    height: 100px;
    font-size: 75px;
    text-align: center;
    line-height: 100px;
}
@keyframes backcolor {
    5%{background-color: rgb(72, 255, 0);}
    15%{background-color: rgba(221, 26, 0);}
    40%{background-color: rgb(0, 204, 255);}
    70%{background-color: rgb(253, 0, 177);}
    100%{background-color: salmon;}
}
.allgridcontainer{
    display: inline;
    margin-top: 50px;
    height: 8.5cm;
    margin-bottom: 50px;
}
.gridcontainer{
    display: block;
    display:flex;
    justify-content:center;
}
.title { 
    animation:title 10s infinite linear;
    background-color: rgb(190, 243, 225);
    text-align: center;
    color: rgb(7, 7, 7);
    font-size: 1.5cm;
    height: 64px;
}
@keyframes title{
    5%{color: rgb(0, 0, 0);}
    5%{color: rgba(221, 26, 0);}
    40%{color: rgb(0, 204, 255);}
    70%{color: rgb(253, 0, 177);}
    100%{color: salmon;}
}

.loadingtitle { 
    animation:clignote 4s linear infinite;
    color: rgb(213, 2, 255);
    text-align: center;
    font-size: 1.5cm;
    height: 40px;
}
@keyframes clignote{
    0%{
        color: rgb(78, 122, 19);
        text-shadow: none;
    }
    50% {color: blue;
        text-shadow: none;}
    100%{color:red;}
}
.caseTaken{
    animation:caseTaken 5s infinite linear;
    display: inline-block;
    text-align: center;
    width: fit-content;
    color: rgb(119, 0, 255);
    font-size: 40px;
}
@keyframes caseTaken{
    0%{
        color: rgb(255, 0, 0);
        text-shadow: blue;
        transform: translateX(0px);
    }
    50% {
        color: rgb(0, 255, 55);
        text-shadow: none;
        transform: translateX(140px);
    }
    80%{color:rgb(0, 4, 255);
        transform: translateX(-140px);
    }
}
.winPrint { 
    animation:winprint 3s infinite ;
    color: rgb(119, 0, 255);
    font-size: 40px;
    height:30px;
}
@keyframes winprint{
    0%{
        color: rgb(122, 19, 19);
        transform: translateX(0px);
        transform: rotateY(-105deg);
        text-shadow: thistle; }
    25%{
        color: rgb(10, 201, 175);
        transform: translateX(-10px);
    }
    50% {
        color: blue;
        transform: rotateY(60deg);
    }
    75%{color: yellow;
        transform: translateX(0px);
        transform: rotateY(-360deg);
    }

}
.containerLogout{
    text-align: center;
    margin-top: 8cm;
}
.joincontainer{
    margin-top: 150px;
    text-align: center;
}

.wincontainer{
    text-align: center;
    max-height: 50px;
    height: 50px;
}
.button{
    animation: clignote 30s linear infinite;
    display: block;
    display: inline-block;
    text-align: center;
    font-size: 1cm;
    color: aqua;
    background-color: black;
}
.quitbutton{
    animation:clignote 2s linear infinite;
    display: block;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: rgb(250, 3, 3);
    background-color: #12c47ac7;
}